.title {
  color: #e85858;
  /* padding-bottom: 20px; */
  text-align: center;
  /* text-decoration: underline 1px solid #ddd;
  text-underline-offset: 5px; */
  /* border-bottom: .25px solid #ddd; */
}
.subtitle {
  color: #e85858;
  padding: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 28px;
  /* border-bottom: .25px solid #ddd; */
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.cards {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.container {
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card span {
  word-wrap: normal;
}

.img {
  border-radius: 50%;
}