.title {
  color: white;
  /* padding-bottom: 20px; */
  text-align: center;
  /* text-decoration: underline 1px solid #ddd;
  text-underline-offset: 5px; */
  /* border-bottom: .25px solid #ddd; */
}
.subtitle {
  color: white;
  padding: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 28px;
  /* border-bottom: .25px solid #ddd; */
}
.text {
  color: #777;
}

.cards {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.container {
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card span {
  word-wrap: normal;
}

.img {
  border-radius: 50%;
}

.paragraph {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}