.container {
    background-color: #202020;
    color: white;
}

.container a {
    color: white;
}

.button {
    background-color: white;
    color: #202020;
}

.button:not([disabled]):hover { 
    background-color:white; 
    -webkit-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
  }
