.background {
    background-color: #e85858;
    color: #1b2c42
}

.background a {
    color: #1b2c42
}

.button {
    background-color: #1b2c42;
    color: #e85858
}

.button:not([disabled]):hover { 
    background-color:#1b2c42; 
    -webkit-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
  }
